.postCreate {
  text-align: right;
  padding: 0 5px;
  font-size: 12px;
}

.commentText {
  font-size: 12px;
  border: none;
  padding: 1px;
}

.posts-container {
  display: flex;
  width: 80%;
  /* border: 3px solid red; */
}

.delBtn {
  width: 100%;
  text-align: right;
  padding: 2px;
  cursor: pointer;
}

/* --- MEDIA QUERIES --- */
@media only screen and (max-width: 600px) {
  .posts-container {
    flex-direction: column;
    width: 100%;
  }
  .socialPost .name {
    font-size: 70px;
  }

  .post-image {
    min-width: 100%;
    min-height: 50%;
  }
  .card-main {
    min-width: 90%;
  }
}

.post-image {
  margin: 1rem auto;
  width: 90%;
  height: 80%;
}
.card-main {
  width: 30%;
  margin: 1rem;
  /* border: 3px solid blue; */
}

.likers {
  height: 6vh;
  font-size: 12px;
}
.like-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: auto 0;
}

.postText {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.actives {
  /* border: 3px solid green; */
  margin-top: 1rem;
  text-align: center;
  min-width: 10rem;
  height: 100%;
}

.testing {
  /* border: 3px solid purple; */
}
